################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/RicsieRics-Timeline/v15/.suo
